<div class="jumbotron">
    <h1>Brightpod Project Management</h1>
    <p>
    Welcome to Brightpod Project Management! The most comprehensive and complete way of managing clients, projects, tasks and time.
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
        <div class="panel-heading text-center">Client Details</div>
        <div class="panel-body">
            <address>
              <strong>Client ID: {{client_info.client_id}}</strong><br>
              <strong>{{client_info.organization}}</strong><br>
              {{client_info.p_street2}}<br>
              {{client_info.p_city}}, {{client_info.p_state}} {{client_info.p_code}}<br>
              {{client_info.p_country}}<br>
              <abbr title="Phone">Phone: </abbr> {{client_info.mobile}}
            </address>

            <address>
              <strong>{{client_info.first_name}} {{client_info.last_name}}</strong><br>
              <a href="mailto:#">{{client_info.email}}</a>
            </address>
        </div>
    </div>
</div>